

/* styling the image background */

.imageBackground {
    height:60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    position:relative;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('../../public/cinema.jpg');
    background-size: cover;
    background-position: center;
}



.imageBackground h1 {
    color: white;
    font-size: 3rem;
    width:300px;
    margin-left: 5%;
}

/* styling for  ipad */
@media screen and (max-width: 800px) {
   

    /* styles for mobile*/
    .imageBackground {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    .imageBackground h1 {
        color: white;
        width: 200px;
        font-size: 2rem;
        text-align: center;
        margin-left: 0%;
    }

}


/*styliing for mobile*/
@media screen and (min-width: 0px) and (max-width: 700px) {
    


    /* styles for mobile*/
    .imageBackground {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    .imageBackground h1 {
        color: white;
        width: 300px;
        font-size: 1.8rem;
        text-align: center;
        margin-left: 0%;
    }

}
